@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    background-color: #040633;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #61DAFB;
}