@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    background-color: #1b1a38;
    /* text-align: center; */
    font-family: 'Montserrat', sans-serif;
    color: #61DAFB;
    /* padding: 3rem; */
}

h1 {
    margin: 3rem 0rem 3rem 35rem;
}

#op-styling {
    height: 3.5rem;
    max-width: 40rem;
    margin: auto;
    border-top: 4px dotted #61DAFB;
    border-bottom: 4px dotted #61DAFB;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    text-align: center;
    padding-top: 2rem;
    font-size: large;
}

label {
    margin: 1rem 0rem 2rem 42rem;
}

.input-styling {
    padding: 0.5rem;
    border-radius: 5px;
    display: block;
    /* margin: auto; */
    margin: 1rem 0rem 2rem 42rem;
    text-align: center;
    background-color: #61DAFB;
}

button {
    margin: 1rem 0rem 2rem 45rem;
    border: 1px solid #61DAFB;
    background-color: #1b1a38;
    color: #61DAFB;
    border-radius: 5px;
    height: 2rem;
    width: 5rem;
}